/* border box */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
    text-decoration: none;
}

p, li {
    line-height: 140%;
}

body {
    margin: 0;
    background-color: rgb(234, 230, 209);
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.topbutton {
    font-weight: bold;
    color: #333;
}

.previous_page_button {
    color: #ff0000;
}

header {
    margin: 0;
    padding: 15px 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: #2980b9;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.75);
    height: 100%;
/*    max-height: 106px;
    min-height: 106px;
*/
}

h1.header_title {
/*    font-size: 40px;
    line-height: 54px;
*/
    font-family: "Copse","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f3f3f3;
    text-shadow: 0px 2px 0px rgba(35,87,150,0.2);
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.header_subtitle {
    color: #d8d8d8;
    text-shadow: rgba(0,0,0,0.2) 0 1px 0;
    font-size: 16px;
    margin: 0px;
}

.banner {
    background: #fc0;
    border: 1px solid #cca300;
}

.banner .button {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    margin: 6px 6px;
    border-radius: 4px;
    background: #ffe064;
    color: #333;
    display: inline-block;
    border: 1px solid #cca300;
    box-shadow: inset 0 0 6px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 1px rgba(0,0,0,0.05);
    text-decoration: none;
    cursor: auto;
}

.page-content {
    margin: 10px 0px;
}

.wrapper {
    max-width: 1050px;
    padding: 0 15px;
    margin: 0px auto;
    overflow: hidden
}

.left-page {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    float: left;
    max-width: 960px;
    width: 75%;
    border: 2px solid #a1a1a1;
    border-radius:10px;
    box-shadow:2px 2px 3px #aaaaaa;
}

.right-page {
    float: left;
    width: 20%;
    padding: 0 0 0 20px;
}

#disqus_thread {
    margin-top: 20px;
}

.label {
    font-size: 16px;
    margin: 0 5px;
}

#date {
    color: #000000;
}

#tag {
    color: #0033FF;
    margin-left: 20px;
    margin-right: 0;
}

/* post list in index page, tags page and archives page. */
span.post-date {
    margin-left: 5px;
    margin-right: 5px;
}

div#post-list {
    line-height: 200%;
}

/* Settings for phone browsers. iPhone 4

*/
@media (max-width: 500px) {
    ul {
        padding-left: 20px;
    }

    .banner .button {
        padding: 5px 3px;
        margin: 6px 1px;
    }

    .wrapper {
        padding: 0 2px;
    }

    .page-content {
        margin: 2px 0px;
    }

    .left-page {
        width: 100%;
        padding: 4px;
    }

    .right-page {
        width: 100%;
        padding: 0;
    }
}
