---
layout:    default
comments:  false
---

<div class="container">
  {% assign display_time = '' %}

  {% for post in site.posts %}
    {% assign post_time = post.date | date: "%Y-%m" %}

    {% if display_time != post_time %}
      {% assign display_time = post_time %}
      <h2> {{ display_time }} </h2>
      <hr>
    {% endif %}

    <div id="post-list">
      <span class="post-date"> {{ post.date | date: "%Y-%m-%d" }} </span>
      <a class="post-title" href="{{ post.url }}"> {{ post.title }} </a>
    </div>

  {% endfor %}
</div>
