<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google_analytics.html %}

  <body>
    <header>
      <h1 class="header_title"> {{ site.title }} </h1>
      <p class="header_subtitle"> {{ site.description }} </p>
    </header>
    
    <div class="banner">
      <span id="logo"><span class="octicon octicon-mark-github"></span></span>
      <a href="{{ site.baseurl }}{{ site.homepage.url }}" class="button"><span class="topbutton"> {{ site.homepage.name }} </span></a>
      <a href="{{ site.baseurl }}{{ site.update.url }}" class="button"><span class="topbutton"> {{ site.update.name }} </span></a>
      <a href="{{ site.baseurl }}{{ site.feed.url }}" target="_blank" class="button"><span class="topbutton"> {{ site.feed.name }} </span></a>
    </div>
    
    <div class="wrapper">
      {{ content }}
      {% include disqus.html %}
    </div>
  </body>

 </html>


