<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/default.css" type="text/css" charset="utf-8"/>
  <link rel="stylesheet" href="/css/markdown.css" type="text/css" charset="utf-8"/>
</head>
<body>
  <header>
    <h1 class="header_title"> {{ site.title }} </h1>
    <p class="header_subtitle"> {{ site.description }} </p>
  </header>
  
  <div class="banner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>
    <a href="{{ site.baseurl }}/index.html" class="button"><span class="topbutton"> {{ site.homepage }} </span></a>
    <a href="{{ site.baseurl }}/website.html" class="button"><span class="topbutton"> {{ site.website }} </span></a>
  </div>
  
  <div class="wrapper">
    {{ content }}
  </div>
</body>
</html>


