<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google_analytics.html %}

  <body>
    <header>
      <h1 class="header_title"> {{ site.title }} </h1>
      <p class="header_subtitle"> {{ site.description }} </p>
    </header>

    <div class="banner">
      <div class="wrapper" id="banner-wrapper">
        <span id="logo"><span class="octicon octicon-mark-github"></span></span>
        <a href="{{ site.baseurl }}{{ site.homepage.url }}" class="button"><span class="topbutton"> {{ site.homepage.name }} </span></a>
        <a href="{{ site.baseurl }}{{ site.archives.url }}" class="button"><span class="topbutton"> {{ site.archives.name }} </span></a>
        <a href="{{ site.baseurl }}{{ site.tags-all.url }}" class="button"><span class="topbutton"> {{ site.tags-all.name }} </span></a>
        <a href="{{ site.baseurl }}{{ site.update.url }}" class="button"><span class="topbutton"> {{ site.update.name }} </span></a>
        <a href="{{ site.baseurl }}{{ site.about.url }}" class="button"><span class="topbutton"> {{ site.about.name }} </span></a>
        
        <a href="{{ site.baseurl }}{{ site.feed.url }}" class="rss-button" target="_blank"><img class="rss-icon" src="/images/icon/rss_icon_green.png" title="{{ site.feed.name }}"></a>
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        <div class="left-page">
          {{ content }}
          {% include disqus.html %}
        </div>
        <div class="right-page"></div>
      </div>
    </div>
  </body>

 </html>
