---
layout:   default
comments: true
---

<script type="text/javascript"
 src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class="container" id="post-page">
  <div class="post-head">
    <h1 id="post-title">{{ page.title }}</h1>
    
    {% if page.date %}
      <span class="label" id="date">{{ page.date | date:"%Y年%-m月%-d日" }}</span>
    {% endif %}
    
    {% for tag in page.tags %}
      <span class="label" id="tag">{{ tag }}</span>
    {% endfor %}

  </div>
  <hr>
  <div>
    {{ content }}
  </div>
</div>

